.svg-android {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 33.333333333333336% 0 no-repeat;
}

.svg-chrome {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 0 99.75% no-repeat;
}

.svg-edge {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 0 49.87531172069826% no-repeat;
}

.svg-firefox {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 66.66666666666667% 0 no-repeat;
}

.svg-ie {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 66.66666666666667% 49.57507082152974% no-repeat;
}

.svg-ios {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 0 0 no-repeat;
}

.svg-opera {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 33.333333333333336% 99.75% no-repeat;
}

.svg-safari {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 33.333333333333336% 49.86642920747997% no-repeat;
}

.svg-windows {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 66.66666666666667% 99.75% no-repeat;
}

.svg-winphone {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 100% 0 no-repeat;
}

.svg-yandex {
	background: url("../drawable/svg/icon-sprite-1f76c825.svg") 100% 50% no-repeat;
}

